APP_DOMAIN=naprokatberu.ru
API_DOMAIN=api.naprokatberu.ru
NEXT_PUBLIC_API_BASE_URL=https://api.naprokatberu.ru
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=
POSTGRES_DB=postamats
POSTGRES_USER=postamats
POSTGRES_PASSWORD=change-me

